@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@900&family=Raleway+Dots&family=Schoolbell&family=Skranji:wght@700&display=swap");
body {
  background-image: url("\public\assets\markus-spiske-ezYZfFnzARM-unsplash.jpg");
}

h1 {
  font-family: "Montserrat", sans-serif;
  text-align: center;
}
